.page--wrapper {
  background: $page; // The actual background for content should be white.
}

body {
  background: $footer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.page--wrapper {
  .header {
    position: relative;
    background: none;
    background-color: $white;
    height: 160px;

    &--inner {
      @include breakpoint(45em) {
        text-align: center;
      }
    }

    &--logo {
      position: relative;
      top: 60px;

      img {
        width: 210px;

        @include breakpoint(45em) {
          width: 375px;
        }
      }
    }
  }
}

.nav {
  background: $white;
  text-align: center;
  padding: 15px 0 50px;

  &--list-dropdown-link,
  &--list-link {
    @extend %nav--list-link;

    &.active-trail {
      @include breakpoint(55em) {
        background-color: $footer;
      }
    }

    &:hover {
      background-color: $page;
    }
  }

  &--list-dropdown-item,
  &--list-item {
    &.active-trail {
      @include breakpoint(55em) {
        background-color: $footer;
      }
    }

    &:hover {
      background-color: $page;
    }

    &.expanded {
      padding-right: 35px;

      // Add dropdown arrow
      &:after {
        right: 15px;
        background-image: url("/profiles/ulf/themes/ulf_default/images/arrow.svg");
      }

      .nav--list-link {
        padding-right: 5px;
      }
    }
  }

  &--sub {
    border: 1px solid $gray-lighter;
  }
}

%nav--list-link {
  display: block;
  font-weight: normal;
  line-height: 40px;
  padding: 0 $spacing;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 18px;

  @include breakpoint(55em) {
    @include strip-link-styles($black);
  }
}


a {
  &:link {
    color: $link-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: none;
  }

  &:focus {
    color: darken($link-color, 10%);
  }

}

/* Default file: modules/_footer.scss
================================================================================================================== */

.footer {
  background: $footer;
  color: #333333;
  height: 475px;

  &--inner {
    @include breakpoint($node-breakpoint) {
      height: 475px;
      position: relative;
      padding: 100px 0 100px 330px;
      box-sizing: border-box;
    }


    &--image {
      background-image: url('../images/bird.jpg');
      background-repeat: no-repeat;
      background-position: left bottom;
      width: 468px;
      height: 475px;
      position: absolute;
      left: -190px;
      bottom: 0;
      display: none;

      @include breakpoint($node-breakpoint) {
        display: block;
      }
    }
  }

  // Content elements in footer is editable by editors. We set some defaults.
  hr {
    border-color: $white;
  }

  a {
    @include strip-link-styles($black, underline);
  }

  h3 {
    color: $black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

// Drupal class
.sliding-popup-bottom {
  border-top: 2px solid $white;
}


.footer--eu-compliance-text {
  color: $white;
}

// Horrible nesting. (HTML from module)
#sliding-popup {
  .popup-content {
    #popup-buttons {
      button {
        background: $link-color;
        color: $white;

        &:hover {
          background: $link-color;
        }
      }
    }
  }
}


/* Default file: modules/_field.scss
================================================================================================================== */
.field {

  /* Display of node title. */
  &--title {
    @include background-set-color('default', 0.7);
    border-color: $dark-blue;

    &.is-dagtilbud {
      border-color: $daycare-color;
    }

    &.is-grundskole {
      border-color: $school-color;
    }

    &.is-ungdomsuddannelse {
      border-color: $youth-color;
    }

    &.is-course {
      border-color: $course-color;
    }

    &.is-profile {
      border-color: $link-color;
    }
  }

  &--collection-label {
    color: $white;
    background: $block-dark;
  }

}




/* Default file: modules/_nav.scss
================================================================================================================== */

.nav--static-pages.is-node {
  & .nav--list-item-sub {
    a {
      @include strip-link-styles($link-color);
    }
  }
}


/* Default file: modules/_block.scss
================================================================================================================== */

.block--dark {
  background: $block-dark;
  color: $white;

  a {
    @include strip-link-styles($white, underline);
  }
}

.block--light {
  background: $block-light;

  a {
    @include strip-link-styles($link-color, underline);
  }
}

.block--pdf {
  &-link {
    @extend %button;

    @include strip-link-styles($white);
  }
}

.block--newsletter.is-front .form-type-emailfield {
  & > input {
    margin-bottom: $boxlist-padding;
  }
}

/* Default file: modules/_header.scss
================================================================================================================== */

.header {
  background: url(../images/header-bg.png) repeat-x 0 0;
  height: 85px;

  @include breakpoint(45em) {
    height: 160px;
  }

  &--toggle-mobile-nav {
    background: none;
  }
}


/* Default file: modules/_search.scss
================================================================================================================== */
.search {
  // Widget display.
  &--widget {
    background: $gray-lightest;
    color: #333;

    &.is-daycare,
    &.is-daycare .search--filter-dropdown,
    &.is-daycare .search--filter-dropdown-submit,
    &.is-daycare .search--widget-selected,
    &.is-daycare .search--filter-search-submit {
      @include background-set-color('blue', $transparency: 1);
      background: rgba($blue, 1);
      border-color: $blue;
    }

    &.is-school,
    &.is-school .search--filter-dropdown,
    &.is-school .search--filter-dropdown-submit,
    &.is-school .search--widget-selected,
    &.is-school .search--filter-search-submit {
      background: rgba($blue, 1);
      border-color: $blue;
    }

    &.is-youth,
    &.is-youth .search--filter-dropdown,
    &.is-youth .search--filter-dropdown-submit,
    &.is-youth .search--widget-selected,
    &.is-youth .search--filter-search-submit {
      background: rgba($blue, 1);
      border-color: $blue;
    }

    &.is-course,
    &.is-course .search--filter-dropdown,
    &.is-course .search--filter-dropdown-submit,
    &.is-course .search--widget-selected,
    &.is-course .search--filter-search-submit {
      background: rgba($blue, 1);
      border-color: $blue;
    }
  }

  &--filter-dropdown-header {
    padding: 20px 0 16px;
  }

  &--filter-wrapper-user {
    background: $gray-darker;
  }

  &--filter-wrapper-inner {
    background: rgba(255, 255, 255, .8);
  }

  &--filter-search-text[type="text"] {
    border: 1px solid $gray-light;
  }

  &--filter-search-submit[type="submit"] {
    @extend %button;

    padding: .4em 1.5em;
    max-width: 35%;
    position: absolute;
    right: 0;
    color: $white !important;
  }


  // The span filter. Two text fields to span a value.
  &--filter-span {
    &-text[type="text"] {
      border: 1px solid $gray-light;
    }
  }


  &--filter-label {
    @include strip-link-styles(rgba(0, 0, 0, 0.5));
  }


  // The filter dropdown for filter lists.
  &--filter-dropdown {
    box-shadow: 3px 3px 6px $gray-dark;

    &-inner {
      background: rgba(255, 255, 255, .85);
    }


    &-submit {
      @extend %button;

      display: block;
      margin: $spacing;
      font-size: .9em;
      padding: .1em 2em;

      @include strip-link-styles($white);
    }

    .disabled {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  // Mobile show/hide
  &--widget-filters {
    background: $gray-lightest;
  }

  // Selected facets
  &--widget-selected {
    background: $white;
  }

  &--widget-selected-item {
    //@extend %button;

    background-color: rgba(255, 255, 255, .85);
    border-color: rgba(255, 255, 255, .85);
    color: $gray;
  }

  &--reset {
    color: $gray-darkest;
  }
}

.search-results {
  &--result {
    @extend %teaser--wrapper;
  }
}


// Specific texts need dark color.
.is-course .search--filter-search-submit,
.is-daycare .search--filter-search-submit {
  color: $gray-darkest;
}


/* Default file: modules/_teaser.scss
================================================================================================================== */

/* Teaser representing a target group. */
.teaser--group {

  //@include breakpoint(650px) {
  //  margin-bottom: 0;
  //  width: 50%;
  //}

  &-inner {

    @include strip-link-styles($white);

    // Change text background transparency when hovering on the teaser.
    // State class names are fetched from taxonomy terms, thus Danish ...
    &:hover .teaser--group-text {
      &.is-dagtilbud {
        @include background-set-color('daycare', 1);
      }

      &.is-grundskole {
        @include background-set-color('school', 1);
      }

      &.is-ungdomsuddannelse {
        @include background-set-color('youth', 1);
      }

      &.is-course {
        @include background-set-color('course', 1);
      }
    }
  }

  &-text {
    height: 90px;

    &.is-dagtilbud {
      @include background-set-color('daycare', 0.7);
    }

    &.is-grundskole {
      @include background-set-color('school', 0.7);
    }

    &.is-ungdomsuddannelse {
      @include background-set-color('youth', 0.7);
    }

    &.is-course {
      @include background-set-color('course', 0.7);
    }
  }
}


// Header above a list of teaser.
.teaser--content-header {
  background-color: $gray-lightest;
}


// Teaser display.
.teaser {
  @extend %teaser--wrapper;

  background: $white; // For news.

}

.teaser--list {
  &__fullwidth {
    display: block;

    .teaser {
      margin-bottom: 0;
    }
  }
}


.teaser--list-button {
  @extend .button;

  margin: 0 auto; // Center buttons.
}


/* Default file: patterns/_ribbon.scss
================================================================================================================== */
.is-dagtilbud {
  .ribbon {
    background-color: rgba($daycare-color, 1);
  }
}

.is-grundskole {
  .ribbon {
    background-color: rgba($school-color, 1);
  }
}

.is-ungdomsuddannelse {
  .ribbon {
    background-color: rgba($youth-color, 1);
  }
}

.is-course {
  .ribbon {
    background-color: rgba($course-color, 1);
  }
}

.ribbon a,
.ribbon a:hover {
  /* Set the text properties */
  color: $white;
  text-decoration: none;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

/* Default file: patterns/_ribbon.scss
================================================================================================================== */

// Frontpage and profile layout.
.layout-newsletter-archive,
.layout-view-page,
.layout-node,
.layout-frontpage,
.layout-profile {
  .layout-inner > div:nth-child(1),
  .layout-inner > div:nth-child(4) {
    background: $gray-lightest;
  }

  .layout-inner > div:nth-child(2),
  .layout-inner > div:nth-child(5) {
    background: $gray-lighter;
  }

  .layout-inner > div:nth-child(3) {
    background: $white;
  }
}

.layout-profile {
  .layout-inner > div:nth-child(1),
  .layout-inner > div:nth-child(4) {
    background: $page;
  }

  .layout-inner > div:nth-child(2),
  .layout-inner > div:nth-child(5) {
    background: $page;
  }

  .layout-inner > div:nth-child(3) {
    background: $white;
  }
}

.field {
  /* Display of node title. */
  &--title {
    border-bottom: none;
    border-width: 0;
    padding: 0;
    position: relative;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.1em;
    background: none;

    @include breakpoint($node-breakpoint) {
      border-width: 4px;
      padding: 0;
      position: relative;
      margin-bottom: 0;
    }
  }

  &--collection-content {
    background-color: #FFFFFF;
  }
}

.block {
  &--header {
    padding: 21px 21px 0;
  }

  &--content {
    padding: 21px;


  }

  &--field-wrapper {
    border-bottom-color: darken($block-light, 10%);
  }

  &--field-logo {
    background-color: #FFFFFF;
    margin-left: -21px;
    margin-right: -21px;
  }
}

// Node type exercise
.node-type-exercise {
  .exercise-activity {
    > .block--field-label {
      font-size: 21px;
    }
  }

  .content {
    &--meta {
      .block {
        &--field-text {
          margin-bottom: 0;

          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


cok
.content {
  .field--title {
    font-size: 2.2em;
    font-weight: normal;
  }
}

.related-users {
  a {
    display: block;
    padding-bottom: 5px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

/* Default file: modules/_paragraphs.scss
================================================================================================================== */

.entity-paragraphs-item {
  .btn {
    @extend %button;
    @include strip-link-styles($white);
  }
}

.paragraphs-item {

  &-hero {
    .hero--content {
      &--theme {
        &__daycare {
          background-color: rgba($daycare-color, .7);
        }

        &__school {
          background-color: rgba($school-color, .7);
        }

        &__youth {
          background-color: rgba($youth-color, .7);
        }

        &__course {
          background-color: rgba($course-color, .7);
        }

        &__black {
          background-color: rgba($black, .7);
        }

        &__white {
          background-color: rgba($white, .7);

          h1, h2, .subline {
            color: $black;
          }
        }
      }
    }
  }

  &-spacer {
    &--hr {
      background-color: #d9d9d9;
    }
  }
}

h3 {
  &.impact {
    font-size: 2.2em;
  }
}

